.UpdateProfile {
  
  .container {
    display: flex;
    padding-top: 20px;
  
  .left-part {
    text-align: center;
    flex: 1;
    .input-user-image{
      display: flex;
      align-items: center;
      justify-content: center;
      .lable-Img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
       img{
          width: 90px;
          height: 90px;
          border-radius: 50%;
          cursor: pointer;
        }
        .change-img{
          font-size: 12px;
        }
      }
      .inputImg{
        display: none;
      }
    }
  }
  .right-part {
    flex: 3;
    form{
        border:1px solid var(--border-color);
        padding: 20px;
    }
    input {
      border: 1px solid var(--border-color);
      width: 100%;
      display: block;
      padding: 8px 16px;
      margin-top: 16px;
      border-radius: 5px;
    }
    .primary-btn {
      width: fit-content;
    }
    .delete-account{
        margin-top: 16px;
        background-color: red;
        padding:10px 15px;
    }
  }
}
}
@media screen and (max-width:400px) {
  .UpdateProfile {
    .container{
      flex-direction: column;
      .right-part{
        form{
        border: none;
        }
        .delete-account{
          margin: 0;
          margin-left: 20px;
        }
      }
    }
  }
}