.Post {
  border: 2px solid var(--border-color);
  margin-top: 20px;
  border-radius: 4px;
  overflow: hidden;
  .heading {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    padding: 20px;
    cursor: pointer;
    justify-content: space-between;
    .left-part {
      display: flex;
      align-items: center;
      gap: 10px;
      overflow: hidden;
    }
    .delete-icon {
      font-size: large;
      color: #9c9c9c;
      margin-right: 5px;
      padding: 5px;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .footer {
    padding: 20px;
    .like {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        font-size: 1.5rem;
      }
    }
    .caption {
      font-weight: 700;
      margin-top: 12px;
    }
    .time-ago {
      margin-top: 12px;
      color: #aaa;
    }
  }
}
